@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.logo-foo {
    width: 160px;
    height: 40px;
}

.copyright {
    align-items: left;
}

.logo-footer {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.nav-footer {
    align-items: center;
    display: flex; /* Cria um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 80px;
    align-items: center;
    flex-direction: column;


}