.cabecalho{
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container{
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.logo{
    width: 160px;
    height: 40px;
}