@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    --primary-color: #5468E7;
    --secondary-color: #D9D9D9;
    --dark-color: #232340;
    --light-color: #FFC7DF;
    --light-orange-color: #FFBA79;
    --light-blue-color: #9A97ED;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.btn {
    color: #FFFFFF;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.btn.dark {
    background: var(--dark-color);
}
.btn.light {
    background: var(--primary-color);
    margin-left: 280px;
}
.btn.famp {
    background: var(--primary-color);
    margin-left: 10px; 
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    bottom: 100px;
}
.bottom-button-container {
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
}
.btn.flight {
    background: #908CFF;
    margin-top: 220px;
    margin-left: 130px;
    border-radius: 40px;
}
/* header */
.cabecalho {
    background-color: #FFFFFF;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    z-index: 100;
    padding: 30px;
}
.nav-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 40px;
    padding-right: 40px;
}
.icon {
    position: absolute;
    top: 15px; 
    right: 15px; 
    background-color: red;
    color: #FFFFFF;
    font-size: 32px;
    padding: 30px;
}
.logo-container {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo {
    width: 160px;
    height: 40px;
    margin-inline-start: 40px;
}
.lista-header {
    display: flex;
    align-items: center;
    gap: 64px;
}
.lista-header li a {
    font-family:'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.primary-color{
    color: #5468E7;
}
.default-grey{
    color: #8B8B8B;
}
.notification-container{
    position: relative;
}
/* hero section - 1 */
.content {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%; 
}
.first-section {
    color: #FFFFFF;
    padding: 30px;
    position: relative; 
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.hero-section .left-hero {
    margin-left: 100px;
}
.hero-section .left-hero h1 {
    font-family: 'SF Pro Display', sans-serif;
    color: #232340;
    font-size: 80px; 
    line-height: 56px; 
    letter-spacing: -1px;
    line-height: 80px;
}
.hero-section .left-hero p {
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-size: 17px; 
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: -30px;
}
.image-container img {
    width: 90%;
    height: auto;
}
.image-container {
    position: relative;
    left: 0;
}
/* who we are - 2 */
.buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 180px;
}
.button-circle {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
}
.button-back {
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
}
.container-wwa {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 25%;
    gap: 25%;
}
.second-section {
    background-color:#232340;
    color: #FFFFFF;
    padding: 30px;
}
.title-wwa {
    color: #FFFFFF;
    margin-left: 280px;
    margin-top: -23px;
}
.subtitle-circle {
    width: 100%;
}
.circle {
    width: 144px;
    height: 64px;
    margin-left: 1060px;
}
.subtitle-circle h2 {
    font-family: 'SF Pro Display', sans-serif;
    color: #FFFFFF;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.coluna-wwa {
    color: #8B8B8B;
    margin-left: 90px;
    margin-top: 120px;
}
.l1,
.l2,
.l3, 
.l4,
.l5 {
    margin-bottom: 102px;
    list-style-type: none;
    margin-top: 90px;
}
.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover {
    color: #FFFFFF;
}
.desktop-wwa {
    margin-left: 300px;
    margin-top: -630px;
}
.text-wwa h3 {
    font-family: 'SF Pro Display', sans-serif;
    color: #FFFFFF;
    font-weight: 520;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 170px;
    margin-left: 280px;
    margin-bottom: 50px;
}
.second-section .text-wwa p {
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
    margin-left: 282px;
}
.num .doisoito {
    margin-left: 900px;
    margin-top: -260px;
}
.quadrado-wwa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon-folio {
    width: 24px;
    height: 24px;
    margin-left: 11%;
}
.title-textwwa{
    margin-left: 11%;
}
.h2-wwa {
    margin: 0px;
    font-size: 32px;
}
/* what we do - 3 */
.buttons-container2 {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin-left: 80px;
    margin-top: -150px;
}
.container-wwd {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 50px;
}
.button-back2 {
    color: #232340;
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
}
.third-section {
    background-color:#f5f1f1;
}
.title-wwd {
    color: #5468E7;
    margin-left: 11%;
}
.subtitle-wwd {
    width: 100%;
}
.whatwedo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.subtitle-wwd h2 {
    font-family: 'SF Pro Display', sans-serif;
    color: #232340;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.text-wwd h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #5468E7;
    margin-bottom: 0;
    margin-top: 170px;
    margin-left: 280px;
    margin-bottom: 50px;
}
.third-section .text-wwd p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 30px;
    margin-left: 282px;
} 
.image-container {
    display: flex;
    justify-content: center;
}
.four-cards {
    display: flex;
    justify-content: center; 
    padding: 80px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 5px;
}
.four-cards .one-card,
.four-cards .two-card,
.four-cards .three-card,
.four-cards .four-card {
    border-radius: 48px;
    background: #FFFFFF;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
    width: 230px;
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;
}
.info {
    color: #5468E7;
    margin-top: 44px;
}
.info:hover {
    color: #FFFFFF;
}
.four-cards .one-card img,
.four-cards .two-card img,
.four-cards .three-card img,
.four-cards .four-card img {
    display: block;
    margin: 0 auto;
}
.four-cards .one-card:hover,
.four-cards .two-card:hover,
.four-cards .three-card:hover,
.four-cards .four-card:hover {
    transform: scale(1.05);
    background-color: #5468E7;
}
.the-card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
}
/* famous projects - 4 */
.fourth-section {
    background-color:FFFFFF;
}
.conteiner-famp {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 100px;
}
.title-famp {
    color: #5468E7;
    margin-left: 280px;
    margin-top: -23px;
}
.subtitle-famp {
    width: 100%;
}
.subtitle-famp h2 {
    color: #232340;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.fourth-section .subtitle-famp p {
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-left: 285px;
    margin-top: -30px;
}
.image-famp{
    margin-left: 360px;
    margin-top: -650px;
    padding: 50px;
}
.titulo-famp h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 45px;
    top: -130px;
    line-height: 60px;
    letter-spacing: -1px;
    color: 000000;
    margin-bottom: 0;
    margin-left: 130px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 150px;
}
.text-famp p {
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: -300px;
    margin-left: 132px;
}
.vol-dois {
    color: #232340;
    margin-top: 150px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illustration {
    color: #232340;
    display: flex;
    flex-direction: column;
    margin-top: -300px;
    margin-left: -700px;
    align-items: center;
}
.vol-tres {
    color: #232340;
    margin-top: -220px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sapiens {
    color: #232340; 
    margin-top: -320px;
    margin-left: -580px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  
}
/* we are hiring - 5 */
.fifth-section {
    background-color:#FFFFFF;
    margin-bottom: 0;
}
.title-hiring {
    color: #5468E7;
    margin-left: 280px;
    margin-top: -23px;
}
.subtitle-hiring {
    width: 100%;
    margin-left: 1px;
    margin-top: 115px;
}
.hiring-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -500px;
    line-height: 1.5;
    margin-bottom: -590px;
    flex-wrap: wrap;
}
.hiring-card {
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 48px;
    padding: 32px 8px;
    z-index: 10;
    width: 293px;
    height: 560px;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;
}
.hiring-card img {
    display: block;
    margin: 0 auto;
}
.hiring-card:hover {
    transform: scale(1.05);
}
.jobs {
    margin-left: 60px;
    margin-top: -77px;
}
.hiring-cards .info-um,
.hiring-cards .info-dois,
.hiring-cards .info-tres,
.hiring-cards .info-quatro {
    border-radius: 48px;
    background: #FFFFFF;
    color: #232340;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 32px 32px;
    z-index: 10;
    position: relative;
    width: 568px;
    height: 247px;
    margin-bottom: 20px;
}
.hiring-cards .info-um:hover,
.hiring-cards .info-dois:hover,
.hiring-cards .info-tres:hover,
.hiring-cards .info-quatro:hover {
    transform: scale(1.05);
    background: #232340;
    color: #FFFFFF;
}
.circle-hiring {
    margin-left: 280px;
}
.subtitle-hiring h1 {
    font-family: 'SF Pro Display', sans-serif;
    color: #232340;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.subtitle-hiring p {
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 90px;
    margin-left: 282px;
}
.text-notification {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
/* hello section - 6 */
.sixth-section {
    background-color:#FFFFFF;
}
.say-hello {
    background: #5468E7;
    color: #FFFFFF;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 48px;
    justify-content: center; 
    margin-left: 222px;
    top: 90px;
    line-height: 1.5;
    left: -30px;
    padding: 32px 8px;
    position: relative;
    width: 972px;
    height: 768px;
    margin-top: 50px;
}
@media (max-width: 768px) {
    .say-hello {
        width: 100%;
        height: auto;
        margin-left: 0;
        top: 0;
        left: 0;
    }
}
.bubble {
    width: 100px;
    float: left;
    margin-top: -100px;
}
.circle-white {
    float: right;
}
.text-sh {
    color: #FFFFFF;
    text-align: left;
    margin-right: 640px;
    position: relative;
    z-index: 1;
    margin-top: 140px;
}
.invest {
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin-left: 390px;
}
.say-hello::before,
.say-hello::after {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
}
.say-hello::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 50%;
    transform: translateX(-50%);
}
.say-hello::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}
.symbol {
    margin-bottom: 80px;
}
.img-sh {
    float: left;
    margin-right: 90px;
}
.word-sh {
    margin-top: -20px;
}
/* footer */
.logo-foo {
    width: 140px;
    height: 35px;
}
.copyright {
    font-family: 'SF Pro Display', sans-serif;
    color: #ADADAD;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;

    margin-top: 10px;
}
.logo-footer {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.nav-footer {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 80px;
}
.lista-footer {
    display: flex; 
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.lista-footer li {
    margin-right: 35px; /* Espaçamento da lista */
}
.lista-footer li a {
    text-decoration: none; /* Remove o sublinhado */
}
.pfooter { 
    font-family: 'SF Pro Display', sans-serif;
    color: #606060;
    font-size: 18px;
    line-height: 32px;
    margin-top: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.divisor {
    border-top: 1px solid #D8D8D8;
    width: 100%;
}
.follow {
    font-family: 'SF Pro Display', sans-serif;
    color:#5468E7;
    font-size: 16px;
    line-height: 32px;
}
.container-social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 600px) { 
    /* header */
    .logo {
        width: 80px;
        height: 20px;
        margin-inline-start: initial;
        margin-left: -20px;
    }
    .lista-header {
        flex-direction: initial;
        gap: 15px;
        margin-left: 30px;
        margin-right: 18px;
    }
    .lista-header li a {
        font-size: 12px;
    }
    .notifica-dois {
        width: 50%;
    }
    .btn.dark {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 3px;
    }
    .btn {
        padding: 6px 18px;
        white-space: nowrap;
    }
    .notification-container {
        display: flex;
        flex-direction: row;
    }
    .notifica-dois {
        width: 12px;
        margin-bottom: 5px;
    }
    /* section - 1 */
    .first-section {
        margin-left: -60px;
        padding: 0;
    }
    .hero-section .left-hero h1 {
        font-size: 70px; 
    }
    .image-container img {
        width: 80%;
        margin-left: 35px;
    }
    /* who we are - 2 */
    .quadrado-wwa {
        margin-left: -50px;
    }
    .h2-wwa {
        margin-left: -20px;
        font-size: 19px;
    }
    .container-wwa {
        display: 0;
        margin-left: 100px;
        gap: 0;
    }
    .buttons-container {
        margin-left: 10px;
        margin-top: -40px;
    }
    .coluna-wwa {
        color: #8B8B8B;
        margin-left: 0;
        margin-top: 0;
    }
    .desktop-wwa img{
        width: 360px;
        margin-left: -270px;
        margin-top: 390px;
    }
    .l1,
    .l2,
    .l3, 
    .l4,
    .l5 {
        font-size: 50%;
    }
    .coluna-wwa ul {
        padding: 0; 
    }
    .coluna-wwa li {
        margin-bottom: -50px;
    }
    .text-wwa h3 {
        font-size: 35px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    .second-section .text-wwa p {
        margin-bottom: 0;
        margin-left: 0;
    }
    .btn.light {
        margin-top: 20px;
        margin-left: 0;
    }
    /* what we do - 3 */
    .whatwedo {
        margin-left: -30px;
    }
    .subtitle-wwd h2 {
        font-size: 46px;
        line-height: 45px;
        margin-left: 0;
        letter-spacing: 0;
    }
    .button-back {
        margin-right: 30px;
    }
    .buttons-container2 {
        margin-bottom: 260px;
    }
    .num .doisoito {
        margin-left: 0;
        margin-top: 0;
    }
    /* hello section - 6 */
    .say-hello {
        width: 100%;
        height: auto;
        margin-left: 0;
        top: 0;
        left: 0;
    }
    .bubble {
        width: 100px;
        float: left;
        margin-top: -100px;
    }
    .circle-white {
        float: right;
    }
    .text-sh {
        color: #FFFFFF;
        text-align: left;
        margin-right: 640px;
        position: relative;
        z-index: 1;
        margin-top: 140px;
    }
    .invest {
        color: #FFFFFF;
        position: relative;
        z-index: 1;
        margin-left: 390px;
    }
    .say-hello::before,
    .say-hello::after {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
    }
    .say-hello::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 50%;
        transform: translateX(-50%);
    }
    .say-hello::after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
    }
    .symbol {
        margin-bottom: 80px;
    }
    .img-sh {
        float: left;
        margin-right: 90px;
    }
    .word-sh {
        margin-top: -20px;
    }
}