@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    --primary-color: #5468E7;
    --secondary-color: #D9D9D9;
    --dark-color: #232340;
    --light-color: #FFC7DF;
    --light-orange-color: #FFBA79;
    --light-blue-color: #9A97ED;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
}

.wrapper {
    max-width: 1296px;
    margin: 0 auto;
    background-color: red;
}

/*buttons*/
.btn {
    padding: 16px 32px;
    border-radius: 8px;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--dark-color);
}

.btn.light {
    background: var(--primary-color);
}

/*
.third-header {
    background-color: #EDE5F0;
}*/

.fourth-header {
    background-color: #fff;
}

.fifth-header {
    background-color: #EDE5F0;
}

.sixth-header {
    background-color: #fff;
}

.seventh-header {
    background-color: #fff;
}

.four-cards {
    position: absolute;
}

.four-cards .the-card {
    border-radius: 48px;
    background: #FFFFFF;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
}

.the-card .info {
    left: 330px;
    top: 47%;
}

.the-card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
}