@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.fifth-section {
    background-color:white;
    margin-bottom: 0; /* Eliminar qualquer espaço extra na parte inferior da seção */
}

.title-hiring {
    margin-left: 280px;
    margin-top: -23px;
    color: #5468E7;
}

.subtitle-hiring {
    width: 100%;
    margin-left: 1px;
    margin-top: 115px;
}

.hiring-cards {
    display: flex; /* Cria um flex container itens mais dispostos */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 80px;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin-left: 590px;
    position: relative;
    top: -600px;
    line-height: 1.5;
    left: 20px;
    margin-bottom: -590px; 
    flex-wrap: wrap;
}

.jobs {
    margin-left: 60px;
    margin-top: -77px;
}

.hiring-cards .info-um {
    border-radius: 48px;
    background: white;
    padding: 32px 32px;
    z-index: 10;
    position: relative;
    width: 568px;
    height: 247px;
    color: #232340;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.hiring-cards .info-dois {
    border-radius: 48px;
    background: #232340;
    padding: 32px 32px;
    z-index: 10;
    position: relative;
    width: 568px;
    height: 247px;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.hiring-cards .info-tres {
    border-radius: 48px;
    background: white;
    padding: 32px 32px;
    z-index: 10;
    position: relative;
    width: 568px;
    height: 247px;
    color: #232340;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-bottom: 20px;
}

.hiring-cards .info-quatro {
    border-radius: 48px;
    background: white;
    padding: 32px 32px;
    z-index: 10;
    position: relative;
    width: 568px;
    height: 247px;
    color: #232340;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra */
    margin-bottom: 20px;
}

.circle-hiring {
    margin-left: 280px;
}

.subtitle-hiring h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    color: #232340;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}

.subtitle-hiring p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 90px;
    margin-left: 282px;
}

.text-notification {
    display: flex;
    flex-direction: row;
    gap: 8px;
}