@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    --primary-color: #5468E7;
    --secondary-color: #D9D9D9;
    --dark-color: #232340;
    --light-color: #FFC7DF;
    --light-orange-color: #FFBA79;
    --light-blue-color: #9A97ED;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.btn {
    color: #FFFFFF;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.btn.dark {
    background: var(--dark-color);
}
.btn.light {
    background: var(--primary-color);
    margin-left: 280px;
}
.btn.famp {
    background: var(--primary-color);
    margin-left: 10px; 
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    bottom: 10px;
    right: 10px; 
}
.bottom-button-container {
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
}
.btn.flight {
    background: #908CFF;
    margin-top: 220px;
    margin-left: 130px;
    border-radius: 40px;
}
/* header */
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    z-index: 100;
    padding: 30px;
}
.nav-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 40px;
    padding-right: 40px;
}
.icon {
    position: absolute;
    top: 15px; 
    right: 15px; 
    background-color: red;
    color: #FFFFFF;
    font-size: 32px;
    padding: 30px;
}
.logo-container {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo {
    width: 160px;
    height: 40px;
    margin-inline-start: 40px;
}
.lista-header {
    display: flex;
    align-items: center;
    gap: 64px;
}
.lista-header li a {
    font-family:'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.primary-color{
    color: #5468E7;
}
.default-grey{
    color: #8B8B8B;
}
.notification-container{
    position: relative;
}
/* hero section - 1 */
.content {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%; 
}
.first-section {
    color: #FFFFFF;
    padding: 30px;
    position: relative; 
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.hero-section .left-hero {
    margin-left: 100px;
}
.hero-section .left-hero h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 80px; 
    line-height: 56px; 
    color: #232340;
    letter-spacing: -1px;
    line-height: 80px;
}
.hero-section .left-hero p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 17px; 
    line-height: 30px;
    color: #606060;
    margin-bottom: 30px;
    margin-top: -30px;
}
.image-container img {
    width: 90%;
    height: auto;
}
.image-container {
    position: relative;
    left: 0;
}
/*- who we are -*/
.buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 180px;
}
.button-circle {
    background-color: var(--primary-color);
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
    color: #FFFFFF;
}
.button-back {
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
    color: #FFFFFF;
}
.container-wwa {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 25%;
    gap: 25%;
}
.second-section {
    background-color:#232340;
    color: white;
    padding: 30px;
}
.title-wwa {
    margin-left: 280px;
    margin-top: -23px;
    color: white;
}
.subtitle-circle {
    width: 100%;
}
.circle {
    width: 144px;
    height: 64px;
    margin-left: 1060px;
}
.subtitle-circle h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.coluna-wwa {
    margin-bottom: 10px;
    color: #8B8B8B;
    margin-left: 90px;
    margin-top: 120px;
}
.l1 {
    margin-bottom: 102px;
    list-style-type: none;
}
.l2 {
    margin-bottom: 102px;
    list-style-type: none;
    display: inline list-item;
}
.l3 {
    margin-bottom: 102px;
    list-style-type: none;
    margin-top: 90px;
}
.l4 {
    margin-bottom: 102px;
    list-style-type: none;
    margin-top: 90px;
    color: white;
}
.l5 {
    list-style-type: none;
    margin-bottom: 102px;
    margin-top: 90px;
}
.desktop-wwa {
    margin-left: 300px;
    margin-top: -630px;
}
.text-wwa h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 0;
    margin-top: 170px;
    margin-left: 280px;
    margin-bottom: 50px;
}
.second-section .text-wwa p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 30px;
    margin-left: 282px;
}
.num .doisoito {
    margin-left: 900px;
    margin-top: -260px;
}
.quadrado-wwa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon-folio {
    width: 24px;
    height: 24px;
    margin-left: 11%;
}
.title-textwwa{
    margin-left: 11%;
}
.h2-wwa {
    margin: 0px;
    font-size: 32px;
}
/*- what we do -*/
.buttons-container2 {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin-left: 80px;
    margin-top: -150px;
}
.container-wwd {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 50px;
}
.button-back2 {
    padding: 14px 20px;
    border-radius: 100%;
    font-size: 32px;
    text-decoration: none;
    color: #232340;
}
.third-section {
    background-color:#f5f1f1;
}
.title-wwd {
    color: #5468E7;
    margin-left: 11%;

}
.subtitle-wwd {
    width: 100%;
}

.whatwedo {
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.subtitle-wwd h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    color: #232340;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.text-wwd h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #5468E7;
    margin-bottom: 0;
    margin-top: 170px;
    margin-left: 280px;
    margin-bottom: 50px;
}
.third-section .text-wwd p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 30px;
    margin-left: 282px;
} 
.image-container {
    display: flex;
    justify-content: center;
}
.four-cards {
    display: flex;
    justify-content: center; 
    padding: 80px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.image-container-purple {
    order: 1;
    margin-bottom: 10px; 
    width: 128px;
    height: 128px;
    margin-left: 0;
    margin-top: 124px;
}
.four-cards .one-card {
    border-radius: 48px;
    background: #FFFFFF;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
    width: 293px;
    height: 480px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
}
.four-cards .two-card {
    border-radius: 48px;
    background: #5468E7;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
    width: 293px;
    height: 560px;
}
.four-cards .three-card {
    border-radius: 48px;
    background: #FFFFFF;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
    width: 293px;
    height: 480px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.four-cards .four-card {
    border-radius: 48px;
    background: #FFFFFF;
    padding: 32px 8px;
    z-index: 10;
    position: relative;
    width: 293px;
    height: 480px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.info {
    left: 330px;
    top: 47%;
    color: #5468E7;
    margin-top: 44px;
}
.two-card .info {
    color: FFFFFF;
}
.the-card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
}
/*- fourth-section -*/
.fourth-section {
    background-color:FFFFFF;
}
.title-famp {
    margin-left: 280px;
    margin-top: -23px;
    color: #5468E7;
}
.subtitle-famp {
    width: 100%;
}
.subtitle-famp h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: -1px;
    color: #232340;
    margin-bottom: 0;
    margin-top: -56px;
    margin-left: 280px;
}
.fourth-section .subtitle-famp p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-top: 60px;
    margin-left: 280px;
}
.image-famp{
    margin-left: 360px;
    margin-top: -650px;
    padding: 50px;
}
.titulo-famp h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 520;
    font-size: 45px;
    top: -130px;
    line-height: 60px;
    letter-spacing: -1px;
    color: 000000;
    margin-bottom: 0;
    margin-left: 130px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 150px;
}
.text-famp p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-top: -300px;
    margin-left: 132px;
}
.vol-dois {
    margin-top: 150px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #232340;
}
.illustration {
    margin-top: -300px;
    margin-left: -700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #232340;
}
.vol-tres {
    margin-top: -220px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #232340;
}
.sapiens {
    margin-top: -320px;
    margin-left: -580px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #232340;   
}
@media (max-width: 600px) { 
    /* header */
    .logo {
        width: 80px;
        height: 20px;
        margin-inline-start: initial;
        margin-left: -20px;
    }
    .lista-header {
        flex-direction: initial;
        gap: 15px;
        margin-left: 30px;
        margin-right: 18px;
    }
    .lista-header li a {
        font-size: 12px;
    }
    .notifica-dois {
        width: 50%;
    }
    .btn.dark {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 3px;
    }
    .btn {
        padding: 6px 18px;
        white-space: nowrap;
    }
    .notification-container {
        display: flex;
        flex-direction: row;
    }
    .notifica-dois {
        width: 12px;
        margin-bottom: 5px;
    }
    /*content*/
    .first-section {
        margin-left: -60px;
        padding: 0;
    }
    .hero-section .left-hero h1 {
        font-size: 70px; 
    }
    .image-container img {
        width: 80%;
        margin-left: 35px;
    }
}