@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    --primary-color: #5468E7;
    --secondary-color: #D9D9D9;
    --dark-color: #232340;
    --light-color: #FFC7DF;
    --light-orange-color: #FFBA79;
    --light-blue-color: #9A97ED;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.btn {
    color: #FFFFFF;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.btn.dark {
    background: var(--dark-color);
}
.btn.light {
    background: var(--primary-color);
}
.btn.famp {
    background: var(--primary-color);
    margin-left: 1100px;
}
.btn.flight {
    background: #908CFF;
    margin-top: 220px;
    margin-left: 130px;
    border-radius: 40px;
}
/* header */
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    z-index: 100;
    padding: 30px;
}
.nav-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 40px;
    padding-right: 40px;
}
.icon {
    position: absolute;
    top: 15px; 
    right: 15px; 
    background-color: red;
    color: #FFFFFF;
    font-size: 32px;
    padding: 30px;
}
.logo-container {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo {
    width: 160px;
    height: 40px;
    margin-inline-start: 40px;
}
.lista-header {
    display: flex;
    align-items: center;
    gap: 64px;
}
.lista-header li a {
    font-family:'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.primary-color{
    color: #5468E7;
}
.default-grey{
    color: #8B8B8B;
}
.notification-container{
    position: relative;
}
/* hero section - 1 */
.content {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%; 
}
.first-section {
    color: #FFFFFF;
    font-size: 32px;
    padding: 30px;
    position: relative; 
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.hero-image {
    left: -270px;
    top: -100px;
    padding: 160px;
}
.hero-section .left-hero h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
    color: #232340;
    margin-bottom: -100px;
}
.hero-section .left-hero p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 30px;
    margin-top: 130px;
}

.image-container img {
    width: 100%;
    height: auto;
}
.image-container {
    position: relative;
    left: 0;
}
@media (max-width: 600px) { 
    /* header */
    .logo {
        width: 80px;
        height: 20px;
        margin-inline-start: initial;
        margin-left: -20px;
    }
    .lista-header {
        flex-direction: initial;
        gap: 15px;
        margin-left: 30px;
        margin-right: 18px;
    }
    .lista-header li a {
        font-size: 12px;
    }
    .notifica-dois {
        width: 50%;
    }
    .btn.dark {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 3px;
    }
    .btn {
        padding: 6px 18px;
        white-space: nowrap;
    }
    .notification-container {
        display: flex;
        flex-direction: row;
    }
    .notifica-dois {
        width: 12px;
        margin-bottom: 5px;
    }
}