@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    --primary-color: #5468E7;
    --secondary-color: #D9D9D9;
    --dark-color: #232340;
    --light-color: #FFC7DF;
    --light-orange-color: #FFBA79;
    --light-blue-color: #9A97ED;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
    width: 100%; 
    height: 100%;
    margin: 0;
}
.btn {
    color: #ffffff;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}
.btn.dark {
    background: var(--dark-color);
}
.btn.light {
    background: var(--primary-color);
}
.btn.famp {
    background: var(--primary-color);
    margin-left: 1100px;
}
.btn.flight {
    background: #908CFF;
    margin-top: 220px;
    margin-left: 130px;
    border-radius: 40px;
}
/* header */
.cabecalho {
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    align-items: center;
    height: 120px;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    padding: 30px;
}
.nav-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 40px;
    padding-right: 40px;
}
.icon {
    position: absolute;
    top: 15px; 
    right: 15px; 
    background-color: red;
    color: #ffffff;
    font-size: 32px;
    padding: 30px;
}
.logo-container {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo {
    width: 160px;
    height: 40px;
    margin-inline-start: 40px;
}
.lista-header {
    display: flex;
    align-items: center;
    gap: 64px;
}
.lista-header li a {
    font-family:'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.primary-color{
    color: #5468E7;
}
.default-grey{
    color: #8B8B8B;
}
.notification-container{
    position: relative;
}
@media (max-width: 600px) { 
    /* header */
    .logo {
        width: 80px;
        height: 20px;
        margin-inline-start: initial;
        margin-left: -20px;
    }
    .lista-header {
        gap: 8px;
        flex-direction: initial;
    }
    .lista-header li a {
        font-size: 12px;
    }
    .notifica-dois {
        width: 50%;
    }
}